@charset "utf-8";

#cuerpo		{
			top:0px;
			left: 0px;
			height: auto;
			width: 100%;
			position: relative;
			
			}

#zona_trabajo_body{
			position: relative;
			top:0px;
			left: 0px;
			margin: 0 auto;
			height: 400px;
			width: 850px;
			background-color: white;
			}

#titulo{
			position: relative;
			top: 0px;
			margin: 0 auto;
			height: 140px;
			width: 100%;
			padding-top: 77px;
			background-color: white;
			background-image: url(../photos/col·leccions/angel_dimoni/plaza_fuentes.jpg);
			background-repeat: no-repeat;
			background-size:cover; 
			color: white;
			font-size: 50px;
			text-align: center;
			}

#descripcion{
			position: relative;
			top: 0px;
			margin: 0 auto;
			height: 185px;
			width: 850px;
			padding-top: 15px;
			background-color: white;
			font-size: 18px;
			}

.contain_images{
		position: relative;
		top:0px;
		left:0%;
		height:153px;
		width: 100%;
		margin: 0.5%;
		background-size:cover; 
		cursor:pointer;
}

.imagen_coleccion{
			position: relative;
			float: left;
			top:0px;
			left:-0.5%;
			height:153px;
			width: 24%;
			margin: 0.5%;
			background-size:cover; 
			cursor:pointer;
			border-radius: 15px;
			}

.imagen_1{
		background-image: url(../photos/col·leccions/angel_dimoni/46.jpg);
		background-position: 0px -30px;
		}

.imagen_2{
		background-image: url(../photos/col·leccions/angel_dimoni/40.jpg);
		background-position: 0px -23px;
		}

.imagen_3{
		background-image: url(../photos/col·leccions/angel_dimoni/16.jpg);
		background-position: -10px 0px;
		}

.imagen_4{
		background-image: url(../photos/col·leccions/angel_dimoni/49.jpg);
		background-position: 0px 0px;
    	background-size: 100%;
    	background-repeat: no-repeat;
		}

.ir_galeria{
		text-align: right;
		position: relative;
		top: 0px;
		margin: 0 auto;
		height: 0px;
		width: 850px;
		padding-top: 5px;
		background-color: white;
		font-size: 18px;
    	float: bottom;
}

#transparente{
		position: fixed;
		top:0px;
		left:0px;
		height: 100%;
		width:100%;
		background-color: black;
		z-index: 3;
		opacity: 0.8;
		margin: 0px;
		display: none;
}

#photo_ampliada{
		position: fixed;
		margin-left: -275px;
		top: 130px;
		left:50%;
		/*height: 500px;*/
		width: 550px;
		background-size: contain;
		background-color: black;
		border-radius: 15px;
		opacity: 1;
		z-index: 3;
		display:none;	
}

#close{
		position: fixed;
		margin-right: -260px;
		top: 140px;
		right: 50%;
		height: 30px;
		width: 30px;
		background-image: url(../photos/cross.png);
		background-size:cover; 
		cursor:pointer;
		display: none;
		z-index: 3;
}